
<div class="row">
  <div class="col-12 col-xl-3"></div>
  <div class="col-12 col-xl-6">
    <p>Vous êtes dans le poker planning {{planif_ref}}</p>
  </div>
  <div class="col-12 col-xl-3"></div>
</div>
<div class="row">
  <div class="col-12 col-xl-3"></div>
  <div class="col-12 col-xl-6" *ngIf="joined">
    <div  *ngIf="votes$ | async as votes;">
      <div *ngFor="let vote of votes | keyvalue">
        {{vote.value.player.name}} {{vote.value.vote}}
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-3"></div>
</div>
<div class="row">
  <div class="col-12 col-xl-3"></div>
  <div class="col-12 col-xl-6" *ngIf="joined">
    <app-vote [planifRoom]="planifRoom"></app-vote>
  </div>
  <div class="col-12 col-xl-3"></div>
</div>
