<ng-container *ngIf="init">
<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6">
    <p>Vous êtes dans le poker planning {{planif.name || planif.ref}}.</p>
  </div>
  <div class="col-12 col-xxl-3"></div>
</div>
<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6" style="text-align: center;">
    <p><b>{{planif.subject}}</b></p>
  </div>
  <div class="col-12 col-xxl-3"></div>
</div>
<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6" *ngIf="takePartIn">
    <app-players [planifRoom]="planifRoom"></app-players>
  </div>
  <div class="col-12 col-xl-3"></div>
</div>

<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6" *ngIf="takePartIn">
    <app-vote [planifRoom]="planifRoom"></app-vote>
  </div>
  <div class="col-12 col-xxl-3"></div>
</div>

<div class="row" style="margin-top: 45px;" *ngIf="resultsVisibility">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6" *ngIf="takePartIn">
    <app-results-list [planifRoom]="planifRoom"></app-results-list>
  </div>
  <div class="col-12 col-xxl-3"></div>
</div>
</ng-container>
