
<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6">
    <p>Vous êtes dans le poker planning {{planif_ref}}</p>
  </div>
  <div class="col-12 col-xxl-3"></div>
</div>
<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6" *ngIf="joined">
    <app-players [planifRoom]="planifRoom"></app-players>
  </div>
  <div class="col-12 col-xl-3"></div>
</div>

<div class="row">
  <div class="col-12 col-xxl-3"></div>
  <div class="col-12 col-xxl-6" *ngIf="joined">
    <app-vote [planifRoom]="planifRoom"></app-vote>
  </div>
  <div class="col-12 col-xxl-3"></div>
</div>
