div.card {
  border: solid 2px black;
  height: 150px;
  width: 100px;
  float: left;
  margin-right: 20px;

  .top, .bottom {
    height: 50px;
    width: 50%;
    font-size: xx-small;
    float: left;
    padding-left: 2px;
    line-height: 13.5px;
  }
  .bottom {
    position: relative;
    transform: rotate(180deg);
  }
  .right {
    text-align: right;
    padding-right: 2px;
  }
  span.center {
    text-align: center;
    font-size: xx-large;
    line-height: 48px;
  }

  &.selected {
    background-color: #000;
    color: #FFF;
  }

  &.card5of5 {
    margin-right: 0px;
  }

  @media (min-width: 768px) {
    &.card1of5 {
      transform: rotate(-15deg) translateY(35px) translateX(40px);
    }

    &.card2of5 {
      transform: rotate(-7deg) translateY(7px) translateX(20px);
    }

    &.card3of5 {
      transform: translateY(-4px);
    }

    &.card4of5 {
      transform: rotate(8deg) translateY(7px) translateX(-20px);
    }

    &.card5of5 {
      transform: rotate(15deg) translateY(35px) translateX(-40px);
    }

    $translateGX: -35;
    $translateX: 80;
    $rotate: 7;
    &.card1of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *-1) *1px) rotate($rotate * -4.5deg) translateY(97px);
    }
    &.card1of8, &.card2of10 {
      position: absolute;
      transform: translateX($translateGX *1px) rotate($rotate * -3.5deg) translateY(62px);
    }
    &.card2of8, &.card3of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *1) *1px) rotate($rotate * -2.5deg) translateY(32px);
    }

    &.card3of8, &.card4of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *2) *1px) rotate($rotate * -1.5deg) translateY(12px);
    }

    &.card4of8, &.card5of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *3) *1px) rotate($rotate * -0.5deg);
    }

    &.card5of8, &.card6of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *4) *1px) rotate($rotate * 0.5deg);
    }

    &.card6of8, &.card7of10 {
      position: absolute;
     transform: translateX(($translateGX + $translateX *5) *1px) rotate($rotate * 1.5deg)  translateY(12px);
    }

    &.card7of8, &.card8of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *6) *1px) rotate($rotate * 2.5deg) translateY(32px);
    }

    &.card8of8, &.card9of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *7) *1px) rotate($rotate * 3.5deg) translateY(62px);
    }

    &.card10of10 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *8) *1px) rotate($rotate * 4.5deg) translateY(97px);
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {

    $translateGX: -35;
    $translateX: 80;
    $rotate: 7;

    &.card1of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *-3) *1px) rotate(-33deg) translateY(179px);
    }

    &.card1of12, &.card2of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *-2) *1px) rotate(-31deg) translateY(137px); // -35deg
    }
    &.card2of12, &.card3of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *-1) *1px) rotate(-28.5deg) translateY(97px); // -31.5deg
    }
    &.card3of12, &.card4of14 {
      position: absolute;
      transform: translateX($translateGX *1px) rotate($rotate * -3.5deg) translateY(62px);
    }
    &.card4of12, &.card5of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *1) *1px) rotate($rotate * -2.5deg) translateY(32px);
    }

    &.card5of12, &.card6of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *2) *1px) rotate($rotate * -1.5deg) translateY(12px);
    }

    &.card6of12, &.card7of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *3) *1px) rotate($rotate * -0.5deg);
    }

    &.card7of12, &.card8of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *4) *1px) rotate($rotate * 0.5deg);
    }

    &.card8of12, &.card9of14 {
      position: absolute;
     transform: translateX(($translateGX + $translateX *5) *1px) rotate($rotate * 1.5deg)  translateY(12px);
    }

    &.card9of12, &.card10of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *6) *1px) rotate($rotate * 2.5deg) translateY(32px);
    }

    &.card10of12, &.card11of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *7) *1px) rotate($rotate * 3.5deg) translateY(62px);
    }

    &.card11of12, &.card12of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *8) *1px) rotate(28.5deg) translateY(97px); // 31.5deg
    }

    &.card12of12, &.card13of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *9) *1px) rotate(31deg) translateY(137px);// 35deg
    }

    &.card14of14 {
      position: absolute;
      transform: translateX(($translateGX + $translateX *10) *1px) rotate(33deg) translateY(179px);
    }
  }

  @media (max-width: 1200px) {
    &.card1of12,  &.card2of12,  &.card3of12, &.card4of12, &.card5of12, &.card6of12,
    &.card7of12,  &.card8of12,  &.card9of12, &.card10of12, &.card11of12, &.card12of12,
    &.card1of14,  &.card2of14,  &.card3of14, &.card4of14, &.card5of14, &.card6of14,
    &.card7of14,  &.card8of14,  &.card9of14, &.card10of14, &.card11of14, &.card12of14,
    &.card13of14, &.card14of14 {
      margin-bottom: 20px;
    }
  }
}
