
<div style="text-align: center;">
  <h1 class="display-4">Scrum Planif</h1>
  <p class="lead" style="margin-bottom: 2em;">Facilitez-vous la planification à distance.</p>
</div>

<div class="row">
  <div class="col-12 col-lg-6 mt-2">

    <div class="p-3 bg-light rounded shadow-sm" style="height: 100%; text-align: center;">
      <form [formGroup]="planifForm" (ngSubmit)="onSubmit()" >
        <h3><label style="margin-bottom: 1.25em;" for="ref_planif">Scéance à rejoindre </label></h3>
        <div style="margin: 0 auto;">
          <input type="text" class="form-control mr-sm-2" id="ref_planif" style="max-width: 150px; margin: 0.5rem auto; display: inline-block;"
                formControlName="ref_planif" placeholder="code d'accès">

          <button type="submit" class="btn btn-primary mb-2" [disabled]="!planifForm.valid">Entrer</button>
      </div>
      </form>
    </div>
  </div>

  <div class="col-12 col-lg-6 mt-2" style="text-align: center;">
    <div class="p-3 bg-light rounded shadow-sm">
      <h3><label style="margin-bottom: 1.25em;" for="ref_planif">Créer une nouvelle scéance</label></h3>
      <p>Créer une nouvelle scéance <br/>et invitez les personnes à vous rejoindre.<br/><a  class="btn btn-primary mt-2" [routerLink]="['/planif', ref_link,'admin']">Commencer un nouveau poker planing.</a></p>
    </div>
  </div>
</div>
