<div class="row">
  <div class="col-12 rounded bg-light p-3 mb-3">
    <h5>Le poker planning</h5>
    Vous êtes dans le poker planning accessible avec le code <span id="code" class="toCopy">{{planif_ref}}</span> <button class="copy" (click)="copyElement('code')"><fa-icon [icon]="faCopy"></fa-icon></button>
    ou via le lien <span id="link" class="toCopy">{{urlLink}}/planif/{{planif_ref}}</span> <button class="copy" (click)="copyElement('link')"><fa-icon [icon]="faCopy"></fa-icon></button>.
  </div>
</div>
