@import "./variables.scss";

$primary: $mainColor;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-primary, .btn-primary:disabled {
  color: #FFF;
}

// Mega extra large devices (large desktops, 2560px and up)
@media (min-width: 2560px) {
  .container {
    max-width: 2500px;
  }

  .xl-container {
    max-width: 1110;
  }

  .col-xxl-2 {
    -ms-flex: 0 0 (100%/6);
    flex: 0 0 (100%/6);
    max-width: (100%/6);
  }

  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    -ms-flex: 0 0 (100%/12*4);
    flex: 0 0 (100%/12*4);
    max-width: (100%/12*4);
  }

  .col-xxl-5 {
    -ms-flex: 0 0 (100%/12*5);
    flex: 0 0 (100%/12*5);
    max-width: (100%/12*5);
  }

  .col-xxl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

body.no-user {
  background-color: $mainColor;
}
