@use "sass:math";

@import "./variables.scss";

$primary: $mainColor;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-primary, .btn-primary:disabled {
  color: #FFF;
}

$breakpoints: (
  'xxl':  1900px, /* Extra extra large devices (large desktops, 1900px and up) */
  'xxxl': 2560px, /* Mega extra large devices  (large desktops, 2560px and up) */
);

@mixin col($colWidth) {
  -ms-flex: 0 0 (math.div(100%, 12)*$colWidth);
  flex:     0 0 (math.div(100%, 12)*$colWidth);
  max-width:    (math.div(100%, 12)*$colWidth);
}

@mixin insert-breakpoints($breakpoints) {

  @each $key, $num in $breakpoints {
    @media (min-width: $num) {
      .container {
        max-width: $num;
      }

      .col-#{$key}-0 {
        -ms-flex: 0 0 0;
        flex: 0 0 0;
        max-width: 0;
        border-width: 0;
        padding-left: 0 ;
        padding-right: 0 ;
      }

      @for $i from 2 through 12 {
        .col-#{$key}-#{$i} {
          @include col($i);
        }
      }
    }

  }
}

@include insert-breakpoints($breakpoints);

body.no-user {
  background-color: $mainColor;
}

div.clear {
  clear: both;
}

.small-text {
  font-size: 0.80rem;
}
