<div class="attachModal">
  <ng-template #content>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Créer un jeux de carte</h4>
      <button type="button" aria-label="Close" (click)="closeWithoutSend('Cross click')"><fa-icon [icon]="faTimes"></fa-icon></button>
    </div>
    <div class="modal-body">
      <div class="my-alert text-secondary mb-2" role="alert">
        <div class="info"><fa-icon [icon]="faInfoCircle"></fa-icon></div>
        <div class="talk small-text">
          <p>Vous pouvez activer ou désactiver n'importe qu'elle carte du jeux en cliquant dessus.</p>
          <p>Vous pouvez réordonner les cartes que <b>vous</b> avez créées en utilisant le glisser/déplacer.</p>
        </div>
      </div>
      <form [formGroup]="cardForm" (ngSubmit)="onCardSubmit($event)">
        <label  class="mt-2 mb-2 mr-2" for="subject">Carte à ajouter</label>
        <div class="input-with-error">
          <div>
            <input type="text" class="form-control mb-2 mr-sm-2" id="cardValue" style="max-width: 150px; display: inline-block;"
                formControlName="cardValue" placeholder="3 caratères max"
                [class.is-invalid]="(cardForm.controls.cardValue.dirty || cardForm.controls.cardValue.touched) && cardForm.controls.cardValue.invalid && cardForm.controls.cardValue.errors.maxlength !== undefined">
            <button id="addButton" type="submit" name="subject" class="btn btn-secondary mb-2 mr-2" [disabled]="!cardForm.valid">Ajouter la carte</button>
          </div>
          <div class="invalid-feedback m-0"
          *ngIf="cardForm.controls.cardValue.invalid && cardForm.controls.cardValue.errors.maxlength !== undefined && (cardForm.controls.cardValue.dirty || cardForm.controls.cardValue.touched)">
            La valeur doit faire 3 caratères maximum.
          </div>
        </div>

      </form>
      <div class="cardGame selected" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let card of userCardsGame; let index = index">
          <div [className]="'exampleCard' + (card.active?' selected':' unselected')" (click)="click('user', index)" [innerHTML]="card.value" cdkDrag></div>
        </ng-container>
        <ng-container *ngFor="let card of fixCardsGame; let index = index">
          <div [className]="'exampleCard' + (card.value.startsWith('&')?' fa':'') + (card.active?' selected':' unselected')" (click)="click('fix', index)" [innerHTML]="card.value"></div>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button id="sendButton" class="btn btn-primary" (click)="sendGame()">Ajouter ce jeux de carte.</button>
    </div>
  </ng-template>
  <div id="openDiv" class="border pt-3 pb-3 pl-1 pr-1" (click)="openModal(content)">
    <input type="radio"><label class="chooseGame">
      <div class="cardGame unselected">
        <div [className]="'exampleCard unselected'"><span style="position: absolute; background-color: #FFF;">Créer son propre jeux de carte personnalisé.</span></div>
        <div [className]="'exampleCard unselected'" style="z-index: 500;"></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
        <div [className]="'exampleCard unselected'" ></div>
      </div>
    </label>
  </div>
</div>
