@import "../../variables.scss";

div.exampleCard {
  border: solid 1px black;
  border-radius: 0.25rem;
  height: 3rem;
  width: 2rem;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  text-align: center;
  padding-top: 0.7rem;
  background-color: #FFF;

  cursor: pointer;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.selected {
    color: #FFF;
    background-color: $mainColor;
  }
}

.cardGame.unselected {
  div.exampleCard {
    border: solid 1px lighten(black, 50%);
  }
  div.exampleCard.unselected {
    color: lighten(black, 50%);
  }
  div.exampleCard.selected {
    background-color: lighten($mainColor, 10%);
  }
}
