

  <div *ngIf="cards" [className]="'cardGame' + (myGameTypeName === planifRoom.currentGameName?' selected':' unselected')">
    <ng-container *ngFor="let card of cards; let index = index">
      <div [className]="'exampleCard' + (card.value.startsWith('&')?' fa':'') + (card.active?' selected':' unselected')" (click)="click(index)" [innerHTML]="card.value"></div>
    </ng-container>
  </div>
  <div class="clear"><p class="text-secondary small-text">Cliquer sur une carte pour ne pas l'utiliser.</p></div>
