::ng-deep {
  .player {
    .svg-inline--fa.fa-smile, .svg-inline--fa.fa-cog {
      width: 2.25em !important;
      height: 2.25em;
      margin: auto;display: block;
    }
  }
}
.players {
  display: flex;
  flex-wrap: wrap;

  .player {
    flex-grow: 1;
    text-align: center;
    width: 6em;
    margin: 0 5px 10px 5px;
    .name {
      word-wrap: break-word;
    }
    .result {
      position: relative;
      bottom: 2.25em;
      margin: auto;
      padding: 5px;
      border-radius: 0.25rem;
      background-color: #FFF;
      z-index: 8;
    }
    .avatar {
      width: 5em;
      height: 5.75em;
      margin: auto;
      display: block;
    }
  }
}
.blod {
  font-weight: 900;
}
