div.top-help {
  margin-top: 20px;
  margin-bottom: 10px;
}
div.cards, div.bottom-help, div.bottom-form {
  margin: auto;
}
div.bottom-help {
  text-align: center;
  display: none;
}
.disabled {
  div.bottom-help {
    color: #ccc;
  }
}
div.bottom-form {
  text-align: center;
  display: none;
}


.hand3, .hand4, .hand5, .hand6, .hand7, .hand8, .hand9, .hand10 {
  height: 254px;
  @media (min-width: 768px) {
    div.top-help, div.top-form {
      display: none;
    }
    .cards3, .cards4, .cards5, .cards6, .cards7, .cards8, .cards9, .cards10 {
      width: 588px; // Cards are not inside this 588px
    }
    .cards3, .cards4, .cards5 , .cards6, .cards7, .cards8, .cards9 {
      height: 170px;
    }
    .cards10 {
      height: 180px;
    }
    div.bottom-help, div.bottom-form {
      display: block;
    }
  }
}

.hand11, .hand12 {
  height: 294px;
  @media (min-width: 992px) {
    div.top-help, div.top-form {
      display: none;
    }
    .cards11, .cards12 {
      width: 588px; // Cards are not inside this 588px
    }
    .cards11 {
      height: 180px;
    }
    div.cards12 {
      height: 184px;
    }
    div.bottom-help, div.bottom-form {
      display: block;
    }

  }
}

.hand13, .hand14 {
  height: 322px;
  @media (min-width: 1200px) {
    div.top-help, div.top-form {
      display: none;
    }
    .cards13, .cards14 {
      width: 588px; // Cards are not inside this 588px
    }
    div.cards13, div.cards14 {
      height: 184px;
    }
    div.bottom-help, div.bottom-form {
      display: block;
    }
  }
}
