div.cards, div.top-help {
  margin-top: 20px;
}
div.bottom-help {
  text-align: center;
}

.hand12, .hand14 {

  @media (max-width: 1199.98px) {

    div.cards {
      width: auto;
      margin: 0;
    }
    div.bottom-help {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    div.top-help {
      display: none;
    }
    div.cards, div.bottom-help {
      width: 588px; // Cards are not inside this 588px
      margin: auto;
      margin-top: 20px;
    }

    div.cards12 {
      height: 184px;
    }
    div.cards14 {
      height: 240px;
    }
  }
}
/*
@media (min-width: 768px) {
  div.cards, div.bottom-help {
    width: 588px; // Cards are not inside this 588px
    margin: auto;
    margin-top: 20px;
  }


  div.cards {
    height: 145px;
  }
  div.top-help {
    display: none;
  }
}


@media (max-width: 765px) {
  div.bottom-help {
    display: none;
  }
}
*/
