<div class="row title">
  <div class="col-12">Vous êtes dans le poker planning {{planif_ref}}</div>
</div>

<ng-container *ngIf="joined">
  <div class="row">
    <div class="col-12 col-xxl-6 part">
      <div class="row">
        <div class="col-12 col-xl-6">
          <app-players-list [planifRoom]="planifRoom"></app-players-list>
        </div>
        <div class="col-12 col-xl-6">
          Contenu administrateur :
          <div  *ngIf="votes$ | async as votes;">
            <div *ngFor="let vote of votes | keyvalue">
              {{vote.value.player.name}} {{vote.value.vote}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 part">
      Votre vote :
      <app-vote [planifRoom]="planifRoom"></app-vote>
    </div>
  </div>
</ng-container>
