<ng-container *ngIf="init">
<div class="row">
  <div class="col-12 rounded bg-light p-3 mb-3">
    Vous êtes dans le poker planning accessible avec le code <span id="code" class="toCopy">{{planif.ref}}</span> <button class="copy" (click)="copyElement('code')"><fa-icon [icon]="faCopy"></fa-icon></button>
    ou via le lien <span id="link" class="toCopy">{{urlLink}}/planif/{{planif.ref}}</span> <button class="copy" (click)="copyElement('link')"><fa-icon [icon]="faCopy"></fa-icon></button>.

    <form [formGroup]="planifForm" class="form-inline" (ngSubmit)="onSubmit()">
      <label class="mb-2 mr-2" for="name">Vous pouvez préciser un nom pour ce pocker planning :</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="name"
          formControlName="name">
    <button type="submit" class="btn btn-primary mb-2" [disabled]="!planifForm.valid">Entrer</button>
    </form>
  </div>
</div>
<ng-container *ngIf="takePartIn">
  <div class="row">


    <div class="col-12 col-xl-5 col-xxl-3 rounded bg-light p-3 mb-3">
      <h5>Contenu animateur</h5>
      <div class="form-group form-check">
        <input id="iVote" type="checkbox" class="form-check-input" [formControl]="iVote" (ngModelChange)="iVoteChange()">
        <label class="form-check-label" for="iVote">Je souhaite voter avec l'équipe</label>
      </div>
      <div class="form-group form-check">
        <input id="visibilityChoosen" type="checkbox" class="form-check-input" [formControl]="resultsVisibilityChoosen" (ngModelChange)="resultsVisibilityChoosenChange()">
        <label class="form-check-label" for="visibilityChoosen">Afficher les résultats aux autres participants</label>
      </div>
      <div  *ngIf="votes$ | async as votes;">
        <div *ngFor="let vote of votes | keyvalue">
          {{vote.value.player.name}} {{vote.value.vote}}
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-7 col-xxl-4 before-xl-no-padding no-padding-r">
      <app-results-list [planifRoom]="planifRoom"></app-results-list>
    </div>


    <div class="col-12 col-xxl-5 part">
      <ng-container *ngIf="iVote.value">
        <app-vote [planifRoom]="planifRoom" [isAdmin]="true"></app-vote>
    </ng-container>
    </div>
  </div>
</ng-container>
</ng-container>
