<ng-container *ngIf="init$ | async">
<div class="row">
  <div class="col-12 rounded bg-light p-3 mb-3">
    <h5>Le poker planning</h5>
    Vous êtes dans le poker planning accessible avec le code <span id="code" class="toCopy">{{planif.ref}}</span> <button class="copy" (click)="copyElement('code')"><fa-icon [icon]="faCopy"></fa-icon></button>
    ou via le lien <span id="link" class="toCopy">{{urlLink}}/planif/{{planif.ref}}</span> <button class="copy" (click)="copyElement('link')"><fa-icon [icon]="faCopy"></fa-icon></button>.
    <!--
    <form [formGroup]="planifForm" class="form-inline" (ngSubmit)="onPlanifSubmit()">
      <label class="mb-2 mr-2" for="name">Vous pouvez préciser un nom pour ce pocker planning :</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="name"
          formControlName="name">
    <button type="submit" class="btn btn-primary mb-2" [disabled]="!planifForm.valid">Entrer</button>
    </form>-->
    <app-choose-cards-game [planifRoom]="planifRoom"></app-choose-cards-game>
  </div>
</div>
<ng-container *ngIf="takePartIn">
  <div class="row">
    <div class="col-12 col-xxl-4 m-0 p-0">

      <div class="rounded bg-light p-3 mb-3">
        <h5>Les résultats</h5>
        <div class="mb-3 mt-3">
          Rendre visible les résultats à tous les participants.&nbsp;<label class="switch">
            <input id="visibilityChoosen2" type="checkbox" [formControl]="resultsVisibilityChoosen" (ngModelChange)="resultsVisibilityChoosenChange()">
            <span class="slider round"></span>
          </label>
        </div>
        <app-results-list-admin [planifRoom]="planifRoom" [iVoteValue]="true" [resultsVisibilityValue]="resultsVisibilityChoosen.value"></app-results-list-admin>
      </div>
      <div class="rounded bg-light p-3 mb-3">
        <h5>Lancer un nouveau sujet</h5>
        <div>
          <form [formGroup]="gameForm" class="form-inline" (ngSubmit)="onGameSubmit()">
            <label class="mb-2 mr-2" for="subject">Une fois les échanges terminés, lancer un nouveau sujet </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="subject"
                formControlName="subject" placeholder="titre facultatif">
            <button type="submit" class="btn btn-primary mb-2" [disabled]="!gameForm.valid">Go !</button>
          </form>
          <p class="text-secondary small-text">Efface le titre, réinitialise les votes et cache les résultats.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-xxl-6">
      <div class="mb-3 mt-3 subject" style="margin: auto;">
        <label class="mb-2 mr-2" for="subject_edit">Editer le sujet de l'estimation actuelle</label>
        <form [formGroup]="subjectForm" class="form-inline" (ngSubmit)="onSubjectSubmit()">

          <input type="text" class="form-control mb-2 mr-sm-2" id="subject_edit"
            formControlName="subject" placeholder="titre facultatif">
          <button type="submit" class="btn btn-secondary mb-2" [disabled]="!subjectForm.valid"><fa-icon [icon]="faEdit"></fa-icon></button>
        </form>
      </div>
      <div style="text-align: center;">
        <p class="subject">{{planif.subject}}</p>
      </div>
      <app-hand [planifRoom]="planifRoom" [isAdmin]="true"></app-hand>
    </div>
    <div class="col-12 col-xxl-2  p-3 mb-3">
    </div>
  </div>
</ng-container>
</ng-container>
