.title {
  margin-bottom: 15px;
  border-bottom: 1px solid #B8B8B8;
}
.part {
  margin-top: 15px;
}

.toCopy {
  border: 1px solid #B8B8B8;
  padding: 5px;
}
.copy, .copy:active {
  border: none;
  background-color: transparent;
  color: #6A6A6A;
  padding: 5px;
  user-select: none;

  &:active {
    transform: translate(2px, 4px);
    color: #444444;
  }
}
@media (min-width: 2560px) {
  .part {
    margin-top: 0;
  }
}

#content {
  background-color: rosybrown;
}

.no-padding-r {
  padding-right: 0 !important;
}

@media (max-width: 1199.98px) {
  .before-xl-no-padding {
    padding: 0 !important;
  }
}
